h1{
    text-align: center;
}

h2{
    text-align: center;
}

#container{
    display: flex;
    flex-direction: row;

}

ul {
    text-align: center;
}

main{
    flex: 0 1 50%;
}

aside{
    flex: 0 1 50%;
}

img.head{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}